@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap");

:root {
  color-scheme: dark;

  --contents-base-width: min(960px, 100vw);
  --color-font-default: #fff;
  --color-font-reverse: #000;
  --color-font-accent: rgb(102, 197, 241);
  --color-font-link: rgb(72, 221, 255);
  --color-bg: #000;
  --color-bg-contents: #333;
  --font-family-accent-sans: "Montserrat", sans-serif;

  color: var(--color-font-default);
  font-family: sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
}
